[Desktop Entry]
Encoding=UTF-8
Name=Balkancoin
GenericName=Balkancoin wallet
Name[uk]=Карбованeць
Name[ru]=Карбованeц
Name[pl]=Karbowaneć
Name[be]=Карбованэць
Name[de]=Karbo
Name[es]=Karbo
Comment=Balkancoin wallet
Comment[uk]=Гаманець Карбованца
Comment[ru]=Кошелек Карбованца
Comment[pl]=Portfel Karbowańca
Comment[be]=Кашалёк Карбованца
Comment[de]=Karbo Brieftasche
Comment[es]=Karbo Monedero
Exec=balkancoin %U
Terminal=false
Type=Application
Icon=balkancoin
MimeType=x-scheme-handler/balkancoin;
Categories=Office;Finance;
Version=1.2.1
